html,
body {
    margin: 0;
    font-family: \'Trebuchet MS\', Trebuchet, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 15px;
}

.frame {
    height: 100%;
    background-color: #3b3f45;
}

.shoplist {
    
    height: 100%;
}

.title-holder {
    background-color: #4a4f56;
    text-align: center;
    color: #eb7e7f;
    margin-bottom: 40px;
    font-size: 26px;
    padding: 20px 0;
}

.title-holder > div span {
    font-size: 20px;
}

.title-holder h1 {
    margin: 0;
    padding: 0;
}

form {
    max-width: 45%;
    margin: 0 auto 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: block;
    color: #fff;
    background-color: #88839e;
    font-size: 20px;
    font-weight: 300;
    border-top: 3px solid #88839e;
    border-bottom: 3px solid #88839e;
    transition: all .2s linear;
}

ul li:nth-child(even) {
    background-color: #7a7593;
    border-color: #7a7593;
}

ul li:hover {
    background-color: #625e77;
    border-top-color: #fff;
    border-bottom-color: #fff;
}

label {
    width: 100%;
    padding: 10px;
}

label span:nth-child(2) {
    font-size: 14px;
    padding-left: 5px;
}

label span:nth-child(2):before {
    content: '( ';
}

label span:nth-child(2):after {
    content: ' )';
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    transition: all .1s linear;
}

.custom-checkbox + label:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
    margin-right: 20px;
    transition: all .1s linear;
}

.custom-checkbox:checked + label:before {
    background-image: url("../img/checkmark.svg");
}

.custom-checkbox:checked + label > span {
    opacity: .3;
    text-decoration: line-through;
}

.custom-checkbox:checked + label {
    background-color: #7a7593;
    border-top-color: #7a7593;
    border-bottom-color: #7a7593;
}

.custom-checkbox:not(:disabled):active + label {
    background-color: #eb7b72;
}

.final-word {
    margin: 0 auto;
    max-width: 45%;
    background-color: #4a4f56;
    text-align: center;
    color: #eb7b72;
    font-size: 24px;
    padding: 15px 0;
}