.html, body {
    font-size: 14px;
    margin: 0;
    position: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
}

