.html, body {
    font-size: 14px;
    margin: 0;
    position: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}

.social {
    padding: 75px 70px;
}

.social-item {
    display: inline-block;
    max-width: 225px;
    margin: 0 45px;
    text-align: center;
}

.social-img {
    display: inline-block;
    max-width: 65px;
    max-height: 65px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #2a69a6;
    border: 2px solid #2a69a6;
    border-radius: 50%;
    transition: all .2s linear;
}

.social-img img {
    filter: brightness(0) invert(1);
}

.social-img:hover {
    cursor: pointer;
    background-color: #fff;
}

.social-img:hover img {
    filter: none;
}

.social-title {
    color: #000;
    line-height: 1.8;
    letter-spacing: .020em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
}

.social-title h1 {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.social-text {
    color: #9d9d9d;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: .025em;
}